:root {
  --color-black: #181818;
  --color-primary: #26c17b;
  --color-secondary: #4d5f78;
  --color-white: #f6f6f6;
  --filter-hover: brightness(90%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}

a {
  color: var(--color-primary);

  &:hover {
    filter: var(--filter-hover);
  }
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
}

.scrollbar {
  @document url-prefix() {
    scrollbar-color: #dee1ea transparent !important;
    scrollbar-width: thin !important;
  }

  &::-webkit-scrollbar {
    height: 4px !important;
    width: 4px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dee1ea !important;
    border-radius: 4px !important;

    &:hover {
      background: #acb3c3 !important;
    }
  }
}
